@model IList<Car>
@using DoAnWeb.Ultilities;
@{
    ViewData["Title"] = "Các loại xe";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">Trang chủ <i class="ion-ios-arrow-forward"></i></a>
                    </span> <span>Xe <i class="ion-ios-arrow-forward"></i></span>
                </p>
                <h1 class="mb-3 bread">Ô tô</h1>
            </div>
        </div>
    </div>
</section>

<!-- END nav -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var car in Model)
            {
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate car-data-container" data-id="@car.CarId" data-price="@car.PricePerDay" data-name="@car.Brand @car.Model" data-image="@car.CarImages?.LastOrDefault()?.ImageUrl">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('@car.CarImages.FirstOrDefault()?.ImageUrl');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0">
                                <a href="#">@car.Model</a>
                            </h2>
                            <div class="d-flex mb-3">
                                <span class="cat">@car.Brand</span>
                                <p class="price ml-auto">
                                    @car.PricePerDay?.ToString("#,00# VNĐ") <span>/ngày</span>
                                </p>
                            </div>
                            <p class="d-flex mb-0 d-block">
                                <a data-bs-toggle="modal" data-bs-target="#book-car-modal" class="btn btn-primary py-2 mr-1">Đặt ngay</a>
                                <a asp-action="Detail" asp-controller="Car" asp-route-id="@car.CarId" asp-route-slug="@car.Slug" class="btn btn-secondary py-2 ml-1">Chi tiết</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li>
                            <a href="#">&lt;</a>
                        </li>
                        <li class="active">
                            <span>1</span>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>