@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DoAnWeb.Models.User>
@{
    int currentPage = ViewBag.currentPage;
    ViewData["Title"] = "Quản lý người dùng";
}
<div class="pagetitle">
    <h1 class="text-center">Danh sách người dùng</h1>
</div><!-- End Page Title -->

<div class="card mt-3">
    <div class="card-body">
        <div class="action-box d-flex align-items-end justify-content-between">
           <div class="filter-box d-flex">
                <div class="list-filter mx-3">
                    <form>
                        <div class="form-group search-item-box">
                            <input class="form-control" id="SearchInput" placeholder="Tìm kiếm..."/>
                            <span class="search-item-btn">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="addnew-box mt-3 ">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Create" asp-area="Admin">Thêm mới</a>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <section class="section dashboard">
            <table class="table mt-4">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Họ và tên</th>
                        @*<th scope="col">UserName</th>*@
                        <th scope="col">Email</th>

                        <th scope="col">Phân quyền</th>
                        <th scope="col">Hoạt động</th>
                        <th scope="col">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr class="text-center tbl-row">
                            <th scope="row">
                                <div class="table-cell-center">@i</div>
                            </th>
                            <td class="tbl-collum">@item.FullName</td>
                            @*<td class="tbl-collum">@item.UserName</td>*@
                            <td class="tbl-collum">@item.Email</td>
                            @if (item.RoleId == 1)
                            {
                                <td> Quản trị viên </td>
                            }
                            else
                            {
                                <td>Khách hàng</td>
                            }

                            @if (item.IsBlocked == false)
                            {
                                <td>Đang hoạt động</td>
                            }
                            else
                            {
                                <td>Đã bị khóa</td>
                            }
                            <td>
                                @if (item.IsBlocked == true)
                                {
                                    <a class="btn btn-primary" onclick="DisplayUnBlockModal(@item.UserId)">
                                        <i class="fa fa-lock"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-info" onclick="DisplayBlockModal(@item.UserId)">
                                        <i class="fa fa-unlock"></i>
                                    </a>
                                }
                                <a class="btn btn-warning" asp-action="Edit" asp-controller="Account"
                                    asp-route-id="@item.UserId">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <button class="btn btn-danger" onclick="DisplayDeleteModal(@item.UserId)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="modal fade" id="deleteModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xác nhận xóa người dùng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="UserIdToDelete" />
                            Bạn có chắc chắn muốn xóa người dùng này không?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                            <button type="button" id="btnConfirmDelete" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="BlockAccModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xác nhận khóa người dùng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="UserIdToBlock" />
                            Bạn có chắc chắn muốn khóa tài khoản người dùng này không?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                            <button type="button" class="btnConfirmBlock btn btn-primary">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="UnBlockAccModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xác nhận khóa người dùng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="UserIdToBlock" />
                            Bạn có chắc chắn muốn mở khóa cho tài khoản này không?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                            <button type="button" class="btnConfirmBlock btn btn-primary">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div aria-label="Page navigation example" class="text-center align-items-center">
            <ul class="pagination text-center d-inline-block">
                <pager class="pager-container" list="@Model" asp-route-RoleID="@ViewBag.RoleID" asp-area="Admin"
                    asp-controller="Account" asp-action="Index" />
            </ul>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $(".statesSelect").select2();
            $("#btnConfirmDelete").on("click", function () {
                let UserID = $("#UserIdToDelete").val();
                let UrlHandle = "/Admin/Account/Delete";

                $.ajax({
                    url: UrlHandle,
                    type: "GET",
                    data: {
                        UserID: UserID,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            $("#deleteModal").modal("hide");
                            window.location.reload();
                        }
                    },

                })
            });
            $(".btnConfirmBlock").on("click", function () {
                let UserID = $("#UserIdToBlock").val();
                let UrlHandle = "/Admin/Account/Block";

                $.ajax({
                    url: UrlHandle,
                    type: "GET",
                    data: {
                        UserID: UserID,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            $("#BlockAccModal").modal("hide");
                            $("#UnBlockAccModal").modal("hide");
                            window.location.reload();
                        }
                    },

                })
            })
            $("#ChooseRoles").on("change", function () {
                roleId = $("#ChooseRoles").children(":selected").attr("value");
                ActiveStatus = $("#ChooseIsAcctive").children(":selected").attr("value");
                roleId = parseFloat(roleId);
                SelectChangeHandle(roleId, ActiveStatus);
            })
            $("#ChooseIsAcctive").on("change", function () {
                roleId = $("#ChooseRoles").children(":selected").attr("value");
                ActiveStatus = $("#ChooseIsAcctive").children(":selected").attr("value");
                roleId = parseFloat(roleId);
                SelectChangeHandle(roleId, ActiveStatus);
            })
            function SelectChangeHandle(roleId, ActiveStatus) {
                $("#ChooseRoles option").removeAttr("selected");
                $("#ChooseRoles > [value=" + roleId + "]").attr("selected", "true");

                $("#ChooseIsAcctive option").removeAttr("selected");
                $("#ChooseIsAcctive > [value=" + ActiveStatus + "]").attr("selected", "true");

                $.ajax({
                    url: "/Admin/Account/Filter",
                    datatype: "json",
                    type: "GET",
                    data: {
                        "RoleID": roleId,
                        "ActiveStatus": ActiveStatus
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == 1) {
                            window.location.href = results.linkURL;
                        }
                    },
                    error: function (xhr) {
                        alert("error")
                    }
                })
            }

        });

    </script>
    <script type="text/javascript">
        function DisplayDeleteModal(id) {
            $("#UserIdToDelete").val(id);
            $("#deleteModal").modal("show");
        }
        function DisplayBlockModal(id) {
            $("#UserIdToBlock").val(id);
            $("#BlockAccModal").modal("show");
        }
        function DisplayUnBlockModal(id) {
            $("#UserIdToBlock").val(id);
            $("#UnBlockAccModal").modal("show");
        }
    </script>
}