@model IList<Menu>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light scrolled awake" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="ftco-nav">
            <ul class="navbar-nav">
                @foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(n => n.MenuOrder))
                {
                    var Pid = menu.MenuId;
                    var Smenu = Model.Where(p => p.ParentId == Pid).OrderBy(p => p.MenuOrder).ToList();
                    @if (Smenu.Count == 0)
                    {

                        <a href="~/@menu.ControllerName" class="nav-link">@menu.MenuName</a>
                    }
                    else
                    {
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@menu.MenuName</a>
                            <div class="dropdown-menu m-0">
                                @foreach (var smn in Smenu)
                                {
                                    <a href="~/@menu.ControllerName" class="dropdown-item">@smn.MenuName</a>
                                }
                            </div>D
                        </div>
                    }
                }
            </ul>
            @if (ViewBag.UserId != null)
            {
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewBag.FullName
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @if (@ViewBag.RoleId == 1)
                        {
                            <a class="dropdown-item" asp-action="Index" asp-controller="Admin">Trang quản trị</a>
                        }
                        <a class="dropdown-item" asp-action="Profile" asp-controller="Account">Trang cá nhân</a>
                        <a class="dropdown-item" asp-action="Orders" asp-controller="Account">Đơn hàng của tôi</a>
                        <a class="dropdown-item" href="/Account/Logout">Đăng xuất</a>
                    </div>
                </div>
            }
            else
            {
                <a class="btn btn-secondary" href="/Account/Login">Đăng nhập</a>
            }

        </div>
    </div>
</nav>