@using DoAnWeb.Models;
@model IList<Menu>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="pagetitle">
        <h2>Danh sách menu</h2>
    </div>

    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Menu" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1"></i>
            Thêm menu
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-3 text-center">Tiêu đề</th>
                                    <td class="col-2 text-center">Mức</td>
                                    @*<td class="col-2 text-center">Menu cha</td>*@
                                    <td class="col-1 text-center">Thứ tự</td>
                                    <td class="col-1 text-center">Ẩn/Hiện</td>
                                    <th class="col-2 text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th class="text-center" scope="row">@item.MenuId</th>
                                        <td><a asp-area="Admin" asp-controller="Menu" asp-action="Details" asp-route-id="@item.MenuId" class="text-primary">@item.MenuName</a></td>
                                        <td class="text-center">@item.Levels</td>
                                        @*<td class="text-center">@item.ParentID</td>*@
                                        <td class="text-center">@item.MenuOrder</td>
                                        <td class="text-center">
                                            @if (item.IsActive == true)
                                            {
                                            <input type="checkbox" data-id="@item.MenuId" class="ChangeActiveStatus" id="Active-@item.MenuId" checked>
                                            }
                                            else
                                            {
                                            <input type="checkbox" data-id="@item.MenuId" class="ChangeActiveStatus" id="Active-@item.MenuId">
                                            }
                                            <label class="ChangeActiveStatusButton" data-id="@item.MenuId"></label>
                                        </td>
                                        <td class="text-center">
                                            <a asp-area="Admin" asp-controller="Menu" asp-action="Edit" asp-route-id="@item.MenuId" class="btn btn-primary btn-sm" title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>
                                            <a asp-area="Admin" asp-controller="Menu" asp-action="Delete" asp-route-id="@item.MenuId" class="btn btn-danger btn-sm" title="Xoá thông tin bài viết"><i class="bi bi-trash"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#btnConfirmDelete").on("click", function () {
                let IdToDelete = $("#IdToDelete").val();
                let UrlHandle = "/Admin/Post/Delete";
                $.ajax({
                    url: UrlHandle,
                    type: "get",
                    data: {
                        IdToDelete: IdToDelete,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            $("#deleteModal").modal("hide");
                            $("#row-" + IdToDelete).remove();
                            toastr.success('Đã xóa sản phẩm');
                            window.location.reload();
                        } else if (data.status == 1) {
                            alert("")
                        } else if (data.status == 2) {

                        } else if (data.status == 3) {

                        }
                    },

                })
            });
            $(".ChangeActiveStatus").on("change", function () {
                var IdToUpdate = $(this).data("id");
                $.ajax({
                    url: "/Admin/Menu/UpdateActiveStatus",
                    type: "get",
                    data: {
                        IdToUpdate: IdToUpdate,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            if (data.currentValue == true) {
                                $('#Active-' + IdToUpdate).prop('checked', true);
                                toastr.success("Đã cho menu hiển thị");
                            } else {
                                $('#Active-' + IdToUpdate).prop('checked', false);
                                toastr.success("Đã cho menu không hiển thị");
                            }
                        } else {
                            toastr.success("Đang bị lỗi, vui lòng quay lại sau");
                        }
                    },
                })
            });
        });
    </script>
    <script type="text/javascript">
        function DisplayDeleteModal(id) {
            $("#IdToDelete").val(id);
            $("#deleteModal").modal("show");
        }
    </script>
}
